<div>
    <div class="field">
        <p>Modify resource: {{resourceName}}</p>
        <form>
            <div class="form-group">
                <label for="resource-name">New name:</label>
                <input id="resource-name" value="{{resource.name}}"/>
            </div>
            <div class="form-group">
                <label for="resource-value">New amount:</label>
                <input id="resource-value" value="{{resource.value}}"/>
            </div>
            <div class="form-group">
                <label for="resource-max">New max:</label>
                <input id="resource-max" value="{{resource.max}}"/>
            </div>
            <div class="form-group">
                <label for="resource-perhour">New usage per hour:</label>
                <input id="resource-perhour" value="{{resource.usePerHour}}"/>
            </div>
            <div class="form-group">
                <label for="resource-perday">New usage per day:</label>
                <input id="resource-perday" value="{{resource.usePerDay}}"/>
            </div>
            <div class="form-group">
                <label for="resource-unit">New unit:</label>
                <input id="resource-unit" value="{{resource.unit}}"/>
            </div>
            <div class="form-group">
                <label for="resource-color">New color:</label>
                <input id="resource-color" value="{{resource.color}}"/>
            </div>
        </form>
    </div>
</div>